In [1]:
import rasgoql

WARNING:RasgoQL Dependency Warning:You are not running the lastest version of rasgotransforms. RasgoQL relies on this package to serve transform templates. Please consider running `pip install rasgotransforms --upgrade` to download our full library of SQL transforms.

In [2]:
creds = rasgoql.SnowflakeCredentials(
  account='',
  user='',
  password='',
  role='',
  database='',
  schema='',
  warehouse=''
)

rql = rasgoql.connect(creds)

## Get a list of Tables

In [3]:
rql.list_tables('ADVENTUREWORKS')

,TABLE_NAME,FQTN,TABLE_TYPE,ROW_COUNT,CREATED,LAST_ALTERED
0,ADVENTUREWORKSDWBUILDVERSION,ADVENTUREWORKS.PUBLIC.ADVENTUREWORKSDWBUILDVER...,TABLE,0,2021-11-06 09:07:48.039000-07:00,2022-03-21 00:00:20.597000-07:00
1,DIMACCOUNT,ADVENTUREWORKS.PUBLIC.DIMACCOUNT,TABLE,99,2021-11-06 09:07:48.012000-07:00,2022-03-21 00:00:20.597000-07:00
2,DIMCURRENCY,ADVENTUREWORKS.PUBLIC.DIMCURRENCY,TABLE,105,2021-11-06 09:07:48.071000-07:00,2022-03-21 00:00:20.600000-07:00
3,DIMCUSTOMER,ADVENTUREWORKS.PUBLIC.DIMCUSTOMER,TABLE,18484,2021-11-06 09:07:47.965000-07:00,2022-03-21 00:00:20.597000-07:00
4,DIMDATE,ADVENTUREWORKS.PUBLIC.DIMDATE,TABLE,3652,2021-11-06 09:07:47.965000-07:00,2022-03-21 00:00:20.599000-07:00
5,DIMDEPARTMENTGROUP,ADVENTUREWORKS.PUBLIC.DIMDEPARTMENTGROUP,TABLE,7,2021-11-06 09:07:48.071000-07:00,2022-03-21 00:00:20.598000-07:00
6,DIMEMPLOYEE,ADVENTUREWORKS.PUBLIC.DIMEMPLOYEE,TABLE,296,2021-11-06 09:07:47.965000-07:00,2022-03-21 00:00:20.600000-07:00
7,DIMGEOGRAPHY,ADVENTUREWORKS.PUBLIC.DIMGEOGRAPHY,TABLE,655,2021-11-06 09:07:48.037000-07:00,2022-03-21 00:00:20.597000-07:00
8,DIMORGANIZATION,ADVENTUREWORKS.PUBLIC.DIMORGANIZATION,TABLE,14,2021-11-06 09:07:48.115000-07:00,2022-03-21 00:00:20.600000-07:00
9,DIMPRODUCT,ADVENTUREWORKS.PUBLIC.DIMPRODUCT,TABLE,606,2021-11-06 09:07:47.965000-07:00,2022-03-21 00:00:20.599000-07:00
10,DIMPRODUCTCATEGORY,ADVENTUREWORKS.PUBLIC.DIMPRODUCTCATEGORY,TABLE,4,2021-11-06 09:07:48.168000-07:00,2022-03-21 00:00:20.711000-07:00
11,DIMPRODUCTSUBCATEGORY,ADVENTUREWORKS.PUBLIC.DIMPRODUCTSUBCATEGORY,TABLE,37,2021-11-06 09:07:47.965000-07:00,2022-03-21 00:00:20.712000-07:00
12,DIMPROMOTION,ADVENTUREWORKS.PUBLIC.DIMPROMOTION,TABLE,16,2021-11-06 09:07:48.108000-07:00,2022-03-21 00:00:20.714000-07:00
13,DIMRESELLER,ADVENTUREWORKS.PUBLIC.DIMRESELLER,TABLE,701,2021-11-06 09:07:48.116000-07:00,2022-03-21 00:00:20.716000-07:00
14,DIMSALESREASON,ADVENTUREWORKS.PUBLIC.DIMSALESREASON,TABLE,10,2021-11-06 09:07:48.148000-07:00,2022-03-21 00:00:20.737000-07:00
15,DIMSALESTERRITORY,ADVENTUREWORKS.PUBLIC.DIMSALESTERRITORY,TABLE,11,2021-11-06 09:07:48.109000-07:00,2022-03-21 00:00:20.742000-07:00
16,DIMSCENARIO,ADVENTUREWORKS.PUBLIC.DIMSCENARIO,TABLE,3,2021-11-06 09:07:48.011000-07:00,2022-03-21 00:00:20.751000-07:00
17,FACTADDITIONALINTERNATIONALPRODUCTDESCRIPTION,ADVENTUREWORKS.PUBLIC.FACTADDITIONALINTERNATIO...,TABLE,15168,2021-11-06 09:07:47.965000-07:00,2022-03-21 00:00:20.751000-07:00
18,FACTCALLCENTER,ADVENTUREWORKS.PUBLIC.FACTCALLCENTER,TABLE,120,2021-11-06 09:07:48.135000-07:00,2022-03-21 00:00:20.761000-07:00
19,FACTCURRENCYRATE,ADVENTUREWORKS.PUBLIC.FACTCURRENCYRATE,TABLE,14264,2021-11-06 09:07:48.065000-07:00,2022-03-21 00:00:20.771000-07:00
20,FACTFINANCE,ADVENTUREWORKS.PUBLIC.FACTFINANCE,TABLE,39409,2021-11-06 09:07:48.010000-07:00,2022-03-21 00:00:20.784000-07:00
21,FACTINTERNETSALES,ADVENTUREWORKS.PUBLIC.FACTINTERNETSALES,TABLE,60398,2021-11-06 09:07:48.115000-07:00,2022-03-21 00:00:20.784000-07:00
22,FACTINTERNETSALESREASON,ADVENTUREWORKS.PUBLIC.FACTINTERNETSALESREASON,TABLE,64515,2021-11-06 09:07:48.135000-07:00,2022-03-21 00:00:20.784000-07:00
23,FACTPRODUCTINVENTORY,ADVENTUREWORKS.PUBLIC.FACTPRODUCTINVENTORY,TABLE,776286,2021-11-06 09:07:48.069000-07:00,2022-03-21 00:00:20.790000-07:00
24,FACTRESELLERSALES,ADVENTUREWORKS.PUBLIC.FACTRESELLERSALES,TABLE,60855,2021-11-06 09:07:48.037000-07:00,2022-03-21 00:00:20.791000-07:00
25,FACTSALESQUOTA,ADVENTUREWORKS.PUBLIC.FACTSALESQUOTA,TABLE,163,2021-11-06 09:07:48.130000-07:00,2022-03-21 00:00:20.806000-07:00
26,FACTSURVEYRESPONSE,ADVENTUREWORKS.PUBLIC.FACTSURVEYRESPONSE,TABLE,2727,2021-11-06 09:07:48.043000-07:00,2022-03-21 00:00:20.806000-07:00
27,INTERNET_SALES_WITH_PRODUCT,ADVENTUREWORKS.PUBLIC.INTERNET_SALES_WITH_PRODUCT,TABLE,60398,2021-11-24 00:01:30.258000-08:00,2022-03-21 00:00:20.820000-07:00
28,NEWFACTCURRENCYRATE,ADVENTUREWORKS.PUBLIC.NEWFACTCURRENCYRATE,TABLE,50,2021-11-06 09:07:48.039000-07:00,2022-03-21 00:00:20.820000-07:00
29,PROSPECTIVEBUYER,ADVENTUREWORKS.PUBLIC.PROSPECTIVEBUYER,TABLE,2059,2021-11-06 09:07:47.965000-07:00,2022-03-21 00:00:20.843000-07:00
30,RASGOLAB.PUBLIC.FL3384C3B9G2DC5G49C9G8DAFG3CD9...,ADVENTUREWORKS.PUBLIC.RASGOLAB.PUBLIC.FL3384C3...,TABLE,776286,2022-02-15 00:00:21.417000-08:00,2022-03-21 00:00:20.846000-07:00
31,TABLES,ADVENTUREWORKS.INFORMATION_SCHEMA.TABLES,VIEW,None,NaT,NaT
32,COLUMNS,ADVENTUREWORKS.INFORMATION_SCHEMA.COLUMNS,VIEW,None,NaT,NaT
33,SCHEMATA,ADVENTUREWORKS.INFORMATION_SCHEMA.SCHEMATA,VIEW,None,NaT,NaT
34,SEQUENCES,ADVENTUREWORKS.INFORMATION_SCHEMA.SEQUENCES,VIEW,None,NaT,NaT
35,VIEWS,ADVENTUREWORKS.INFORMATION_SCHEMA.VIEWS,VIEW,None,NaT,NaT
36,TABLE_PRIVILEGES,ADVENTUREWORKS.INFORMATION_SCHEMA.TABLE_PRIVIL...,VIEW,None,NaT,NaT
37,USAGE_PRIVILEGES,ADVENTUREWORKS.INFORMATION_SCHEMA.USAGE_PRIVIL...,VIEW,None,NaT,NaT
38,DATABASES,ADVENTUREWORKS.INFORMATION_SCHEMA.DATABASES,VIEW,None,NaT,NaT
39,REPLICATION_DATABASES,ADVENTUREWORKS.INFORMATION_SCHEMA.REPLICATION_...,VIEW,None,NaT,NaT
40,FUNCTIONS,ADVENTUREWORKS.INFORMATION_SCHEMA.FUNCTIONS,VIEW,None,NaT,NaT
41,PROCEDURES,ADVENTUREWORKS.INFORMATION_SCHEMA.PROCEDURES,VIEW,None,NaT,NaT
42,OBJECT_PRIVILEGES,ADVENTUREWORKS.INFORMATION_SCHEMA.OBJECT_PRIVI...,VIEW,None,NaT,NaT
43,FILE_FORMATS,ADVENTUREWORKS.INFORMATION_SCHEMA.FILE_FORMATS,VIEW,None,NaT,NaT
44,APPLICABLE_ROLES,ADVENTUREWORKS.INFORMATION_SCHEMA.APPLICABLE_R...,VIEW,None,NaT,NaT
45,ENABLED_ROLES,ADVENTUREWORKS.INFORMATION_SCHEMA.ENABLED_ROLES,VIEW,None,NaT,NaT
46,STAGES,ADVENTUREWORKS.INFORMATION_SCHEMA.STAGES,VIEW,None,NaT,NaT
47,REFERENTIAL_CONSTRAINTS,ADVENTUREWORKS.INFORMATION_SCHEMA.REFERENTIAL_...,VIEW,None,NaT,NaT
48,TABLE_CONSTRAINTS,ADVENTUREWORKS.INFORMATION_SCHEMA.TABLE_CONSTR...,VIEW,None,NaT,NaT
49,INFORMATION_SCHEMA_CATALOG_NAME,ADVENTUREWORKS.INFORMATION_SCHEMA.INFORMATION_...,VIEW,None,NaT,NaT
50,LOAD_HISTORY,ADVENTUREWORKS.INFORMATION_SCHEMA.LOAD_HISTORY,VIEW,None,NaT,NaT
51,TABLE_STORAGE_METRICS,ADVENTUREWORKS.INFORMATION_SCHEMA.TABLE_STORAG...,VIEW,None,NaT,NaT
52,PIPES,ADVENTUREWORKS.INFORMATION_SCHEMA.PIPES,VIEW,None,NaT,NaT
53,EXTERNAL_TABLES,ADVENTUREWORKS.INFORMATION_SCHEMA.EXTERNAL_TABLES,VIEW,None,NaT,NaT
54,PACKAGES,ADVENTUREWORKS.INFORMATION_SCHEMA.PACKAGES,VIEW,None,NaT,NaT

## Preview Data

In [4]:
internet_sales = rql.dataset('ADVENTUREWORKS.PUBLIC.FACTINTERNETSALES')
internet_sales.preview()

,PRODUCTKEY,ORDERDATEKEY,DUEDATEKEY,SHIPDATEKEY,CUSTOMERKEY,PROMOTIONKEY,CURRENCYKEY,SALESTERRITORYKEY,SALESORDERNUMBER,SALESORDERLINENUMBER,...,PRODUCTSTANDARDCOST,TOTALPRODUCTCOST,SALESAMOUNT,TAXAMT,FREIGHT,CARRIERTRACKINGNUMBER,CUSTOMERPONUMBER,ORDERDATE,DUEDATE,SHIPDATE
0,310,20101229,20110110,20110105,21768,1,19,6,SO43697,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2010-12-29,2011-01-10,2011-01-05
1,346,20101229,20110110,20110105,28389,1,39,7,SO43698,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
2,346,20101229,20110110,20110105,25863,1,100,1,SO43699,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
3,336,20101229,20110110,20110105,14501,1,100,4,SO43700,1,...,413.1463,413.1463,699.0982,55.9279,17.4775,None,None,2010-12-29,2011-01-10,2011-01-05
4,346,20101229,20110110,20110105,11003,1,6,9,SO43701,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-29,2011-01-10,2011-01-05
5,311,20101230,20110111,20110106,27645,1,100,4,SO43702,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2010-12-30,2011-01-11,2011-01-06
6,310,20101230,20110111,20110106,16624,1,6,9,SO43703,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2010-12-30,2011-01-11,2011-01-06
7,351,20101230,20110111,20110106,11005,1,6,9,SO43704,1,...,1898.0944,1898.0944,3374.9900,269.9992,84.3748,None,None,2010-12-30,2011-01-11,2011-01-06
8,344,20101230,20110111,20110106,11011,1,6,9,SO43705,1,...,1912.1544,1912.1544,3399.9900,271.9992,84.9998,None,None,2010-12-30,2011-01-11,2011-01-06
9,312,20101231,20110112,20110107,27621,1,100,4,SO43706,1,...,2171.2942,2171.2942,3578.2700,286.2616,89.4568,None,None,2010-12-31,2011-01-12,2011-01-07

## List of available Transforms

In [5]:
rql.list_transforms()

[RasgoTemplate: one_hot_encode(column: column),
 RasgoTemplate: datetrunc(dates: datepart_dict),
 RasgoTemplate: datepart(dates: datepart_dict),
 RasgoTemplate: concat(concat_list: mixed_list, alias: value),
 RasgoTemplate: dateadd(date_part: date_part, date: mixed_value, offset: int),
 RasgoTemplate: train_test_split(order_by: column_list, train_percent: int),
 RasgoTemplate: standard_scaler(columns_to_scale: column_list, averages: value_list, standarddevs: int_list),
 RasgoTemplate: bin(type: string, bin_count: int, column: column),
 RasgoTemplate: to_date(dates: column_value_dict),
 RasgoTemplate: cast(casts: cast_value_dict),
 RasgoTemplate: label_encode(column: column),
 RasgoTemplate: impute(imputations: imputation_dict, flag_missing_vals: boolean),
 RasgoTemplate: math(math_ops: math_list, names: value_list),
 RasgoTemplate: min_max_scaler(columns_to_scale: column_list, minimums: value_list, maximums: value_list),
 RasgoTemplate: substring(target_col: column, start_pos: int, end_pos: int),
 RasgoTemplate: target_encode(column: column, target: column),
 RasgoTemplate: datediff(date_part: date_part, date_1: mixed_value, date_2: mixed_value),
 RasgoTemplate: levenshtein(columns1: column_list, column2: column_list),
 RasgoTemplate: moving_avg(input_columns: column_list, window_sizes: int_list, order_by: column_list, partition: column_list),
 RasgoTemplate: rename(renames: column_value_dict),
 RasgoTemplate: lag(columns: column_list, amounts: int_list, partition: column_list, order_by: column_list),
 RasgoTemplate: if_then(conditions: conditional_list, default: mixed_value, alias: string),
 RasgoTemplate: drop_columns(include_cols: column_list, exclude_cols: column_list),
 RasgoTemplate: rank(rank_columns: column_list, partition_by: column_list, order: value, rank_type: value, qualify_filter: value),
 RasgoTemplate: order(order_by: column_value_dict),
 RasgoTemplate: filter(filter_statements: string_list),
 RasgoTemplate: apply(sql: custom),
 RasgoTemplate: unpivot(value_column: string, name_column: string, column_list_vals: column_list),
 RasgoTemplate: pivot(dimensions: column_list, pivot_column: column, value_column: column, agg_method: agg, list_of_vals: string_list),
 RasgoTemplate: join(join_table: table, join_type: join_type, join_columns: join_dict, join_prefix: value),
 RasgoTemplate: aggregate(group_by: column_list, aggregations: agg_dict),
 RasgoTemplate: timeseries_agg(aggregations: agg_dict, date: column, offsets: int_list, date_part: date_part, group_by: column_list),
 RasgoTemplate: dedupe(natural_key: column_list, order_col: column_list, order_method: value),
 RasgoTemplate: multi_join(join_tables: table_list, join_type: join_type, join_columns: column_list, join_prefixes: value_list),
 RasgoTemplate: conditional_agg(rules: value_list, agg_column: column, agg: agg, distinct: boolean),
 RasgoTemplate: describe(none: none),
 RasgoTemplate: aggregate_string(agg_columns: column_list, sep: value, group_by: column_list, distinct: boolean, order: value),
 RasgoTemplate: linear_regression(group_by: column_list, y: column, x: column),
 RasgoTemplate: cumulative_agg(aggregations: agg_dict, order_by: column_list, direction: value, group_by: column_list),
 RasgoTemplate: union(dataset2: table, keep_dupes: boolean),
 RasgoTemplate: multi_union(union_tables: table_list, union_columns: column_list),
 RasgoTemplate: datespine_groups(group_by: column_list, date_col: column, start_timestamp: timestamp, end_timestamp: timestamp, interval_type: date_part, group_bounds: value),
 RasgoTemplate: datespine(date_col: column, start_timestamp: timestamp, end_timestamp: timestamp, interval_type: date_part),
 RasgoTemplate: simple_join(join_table: table, join_type: join_type, join_columns: column_list),
 RasgoTemplate: market_basket(transaction_id: column, sep: value, agg_column: column),
 RasgoTemplate: rolling_agg(aggregations: agg_dict, order_by: column_list, offsets: int_list, group_by: column_list)]

## Join Data

In [8]:
promotion = rql.dataset('ADVENTUREWORKS.PUBLIC.DIMPROMOTION')

#Only keep what we need
reduced_promo = promotion.drop_columns(include_cols=['PROMOTIONKEY', 'DISCOUNTPCT'])

sales_promo = reduced_promo.join(join_table=internet_sales.fqtn,
                                 join_type='       ',
                                 join_columns={'PROMOTIONKEY':'PROMOTIONKEY'})
sales_promo.order(order_by={'PRODUCTKEY':'ASC', 'ORDERDATE':'ASC'}).preview()

,PROMOTIONKEY,DISCOUNTPCT,PRODUCTKEY,ORDERDATEKEY,DUEDATEKEY,SHIPDATEKEY,CUSTOMERKEY,CURRENCYKEY,SALESTERRITORYKEY,SALESORDERNUMBER,...,PRODUCTSTANDARDCOST,TOTALPRODUCTCOST,SALESAMOUNT,TAXAMT,FREIGHT,CARRIERTRACKINGNUMBER,CUSTOMERPONUMBER,ORDERDATE,DUEDATE,SHIPDATE
0,1,0.0,214,20121228,20130109,20130104,16313,100,8,SO51180,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-28,2013-01-09,2013-01-04
1,1,0.0,214,20121228,20130109,20130104,12132,100,7,SO51181,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-28,2013-01-09,2013-01-04
2,1,0.0,214,20121229,20130110,20130105,12390,100,8,SO51191,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-29,2013-01-10,2013-01-05
3,1,0.0,214,20121229,20130110,20130105,11241,100,7,SO51192,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-29,2013-01-10,2013-01-05
4,1,0.0,214,20121230,20130111,20130106,11338,100,8,SO51207,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-30,2013-01-11,2013-01-06
5,1,0.0,214,20121230,20130111,20130106,24604,6,9,SO51212,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-30,2013-01-11,2013-01-06
6,1,0.0,214,20121231,20130112,20130107,28204,6,9,SO51234,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-31,2013-01-12,2013-01-07
7,1,0.0,214,20121231,20130112,20130107,11615,98,10,SO51232,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-31,2013-01-12,2013-01-07
8,1,0.0,214,20121231,20130112,20130107,11061,6,9,SO51237,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-31,2013-01-12,2013-01-07
9,1,0.0,214,20121231,20130112,20130107,25625,100,8,SO51246,...,13.0863,13.0863,34.99,2.7992,0.8748,None,None,2012-12-31,2013-01-12,2013-01-07

## Truncate Dates

In [6]:
salesds = sales_promo.datetrunc(dates={'ORDERDATE':'week'})
salesds.order(order_by={'PRODUCTKEY':'ASC', 'ORDERDATE':'ASC'}).preview()

NameError: name 'sales_promo' is not defined

## Generate Lags

In [7]:
salesds = salesds_agg.lag(columns=['DISCOUNTAMOUNT_AVG', 'DISCOUNTPCT_AVG', 'ORDERQUANTITY_SUM', 
                                         'PRODUCTSTANDARDCOST_AVG', 'SALESAMOUNT_SUM', 'TAXAMT_SUM', 
                                         'TOTALPRODUCTCOST_SUM','UNITPRICEDISCOUNTPCT_AVG', 
                                         'UNITPRICE_AVG', 'UNITPRICE_SUM'],
                                amounts=[1, 2, 3, 12],
                                order_by=['PRODUCTKEY', 'ORDERWEEK'],
                                partition=['PRODUCTKEY'])
   
salesds.order(order_by={'PRODUCTKEY':'ASC', 'ORDERWEEK':'ASC'}).preview()

NameError: name 'salesds_agg' is not defined

## Save to Data Warehouse or Export to DBT or Native SQL

In [ ]:
weeklysales = salesds.save(table_name="WKSP_AW_WEEKLY_SALES",
                           table_type="VIEW")
weeklysales

weeklysales.sql()

weeklysales.to_dbt()